@{
    Context.AddStylesheet("style");
}
<!DOCTYPE html>

<html>
<head>
    <title>explorer</title>
    @Context.RenderStylesheets()
</head>
<body>

    @RenderBody()

    @Context.RenderScripts()
</body>
</html>