@using explorer.Extensions
@{
    Layout = "_Layout";
    Context.AddScript("main");
}

<div>
    <h1>This is my home/index</h1>
    <p>this is my new text</p>
    <h2 id="container"></h2>
    <a asp-controller="Kitchen">Go to kitchen</a>
</div>

