@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>This is my home/index</h1>
    <h2 id="container"></h2>
</div>
    <script src="js/main.js"></script>
</body>
</html>