@model IEnumerable<Post>
@{
    Layout = "_Layout";
}

<div>
    <h1>This is my home/index</h1>
    <p>this is my new text</p>
    <h2 id="container"></h2>
    <a asp-controller="Kitchen">Go to kitchen</a>
    
    
    @foreach (Post post in Model)
    {
        <h1>@post.Title</h1>
        <p>@post.Body</p>
    }
</div>